#header-nav {
    background-color: #CECECE;
    border-radius: 0;
    border: 0;
  }
  body {
    font-size: 16px;
    color: #000;
    background-color: #F9F3ED;
    font-family: Lucida Calligraphy,Comic Sans MS,Lucida Console ;
  }
  .navbar-brand {
    padding-top: 20px;
  }
  .navbar-brand h1 {
    color: #000;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
text-align: left;
  }
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px ;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  .navbar-brand p { 
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
  }
  .navbar-brand p span { 
    vertical-align: middle;
  }
  
  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: #951C49;
    text-align: center;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }

  .category-tile { 
    position: relative;
    background-color: #CECECE;
    overflow: hidden;
    width: 1000x;
    height: 1000px;
    margin: 0 auto 15px;
  }
  .category-tile span {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    color: #000;
    opacity: .8;
  }
  .menu-item-description {
    padding-right: 30px;
  }
  .menu-item-details {
    font-size: 1.2em;
    font-style: italic;
    margin-top: 50px;
  }